#ifndef H_CONFIG
#define H_CONFIG

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_HOST ""
#define MQTT_TOPIC_STATUS "bathroom-fan"

#define START_HUMIDITY 95

#define ONE_MINUTE_START_DELTA 7
#define FIVE_MINUTE_START_DELTA 10

#define FIFTEEN_MINUTE_STOP_DELTA -10
#define MAX_FAN_RUNTIME_MINUTES 90


#endif
